<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
    <% @genres.each do |genre| %>
      <a href="/genres/<%=genre.slug%>"><li><%= genre.name %></li></a>
    <% end %>
    </ul>
  </body>
</html>
