<form action="/artists/<%= @artist.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">

  <input type="submit" value="delete">
</form>
<div>
  <p>Name: <%= @artist.name %> </p>
</div>
