<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
    <% @artists.each do |artist| %>
      <a href="#"><li><%= artist.name %></li></a>
    <% end %>
    </ul>
  </body>
</html>
