<form action="/songs" method="post">

  Song name: <input id="Name" type="text" name="song[name]"><br><br>

  Artist: <input id="Artist Name" type="text" name="song[artist][name]"><br><br>

  Genre: <% @genres.each do |genre| %>
    <input type="checkbox" id="<%= genre.name %>" name="song[genre_id]" value="<%=genre.id%>"> <%= genre.name %> </input>
  <% end %><br>


  <input id="Create" type="submit" name="submit">
</form>
